node_modules
dist
build
.env
.env.*
!.env.example
!client/.env.development
!client/.env.production
!server/.env.production.dev.example
.DS_Store
coverage
.turbo
.vite
*.log
*.tsbuildinfo
client/.vite
server/.prisma
