[Unit]
Description=Life OS API (Dev)
After=network.target docker.service
Wants=docker.service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/Development/life-os/server
EnvironmentFile=/home/ubuntu/Development/life-os/server/.env.production
ExecStart=/usr/bin/npm run start
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
